APP_NAME=Narrv
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=sqlite
DB_DATABASE=/home/guillaume/workspace/narrv/database/narrv.sqlite

QUEUE_CONNECTION=database

DEEPSEEK_API_KEY=
DEEPSEEK_BASE_URL=https://api.deepseek.com/v1

ADMIN_PASSWORD=admin123

LOG_CHANNEL=stack
LOG_LEVEL=debug
