@tailwind base;
@tailwind components;
@tailwind utilities;

/* Masquer la scrollbar tout en gardant le scroll fonctionnel */
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
